@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

body {
    font-family: Lato-Regular, Arial;
}

.bs-docs-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

#navBar.shrink {
    padding-top: 120px;
}

#itemsContainer.shrink {
    padding-top: 120px;
}

.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

#banner {
    background-image: url(../img/background.png);
    box-shadow: 3px 3px 3px 3px #ccc;
}

#banner h1 {
    color: black;
}

.bannerPadding {
    padding-top: 120px;
}

hr {
    clear: both;
}

#banner.shrink {
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}

    #banner.shrink h1 {
        font-size: 25px;        
        padding: 4px 5px;
        margin: 8px 15px 8px 0;
    }

.itemLinks {
    display: inline;
    opacity: 0;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.section h4 {
    display: inline;
}

.section li {
    list-style: none;
}

.section:hover .sampleLinks {
    display: inline;
    opacity: 1;
}
