{{#categories}}
    <li>
        <a href="#{{id}}">{{title}}</a>
    </li>
{{/categories}}

<hr />

<li><a class="back-to-top" href="" data-toggle="modal" data-target="#aboutDialog">About this Site</a></li>
<li><a class="back-to-top" href="https://github.com/AmrEldib/awesome-gis/issues/new?labels=awesome item">Submit New Entry</a></li>
<li><a class="back-to-top" href="https://github.com/AmrEldib/awesome-gis/issues/new?labels=bug">Found Error?</a></li>
<li><a class="back-to-top" href="#top">Back to top</a></li>
